<a routerLink="/order/create">New Order</a>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Total</th>
      <th>Sale Day</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.id }}</td>
      <td>{{ order.total }}</td>
      <td>{{ order.createdAt | date: "dd/MM/yyyy HH:mm:ss" }}</td>
      <td>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteOrder()"
          [(ngModel)]="idOrder"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
