<a routerLink="/product/create">New Product</a>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Created At</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.createdAt | date: "dd/MM/yyyy HH:mm:ss" }}</td>
      <td>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteProduct()"
          [(ngModel)]="idProduct"
          value="{{ product.id }}"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
