<label for="name">Name: </label>
<input type="text" name="name" [(ngModel)]="product.name" />
<br />
<label for="price">Price: </label>
<input type="text" name="price" [(ngModel)]="product.price" />
<br />
<label for="category">Category: </label>
<select name="category" id="category" [(ngModel)]="product.category">
  <option value="Alimento">Alimento</option>
  <option value="Bebida">Bebida</option>
</select>
<br />
<button (click)="create()">Create</button>

<br />
<a routerLink="/products">List Product</a>
